/* Botones de las tablas  */

.btn-eleminar {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #ae1e1e; 
}
.btn-edit {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #1E1EAE; 
}

.btn-tabla:hover {
    background-color: #1e1eae;
    color: #FFF; 
}

