/* Estilos generales para el contenedor de propiedades */
.contenedorPropiedades {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    /* Estilos generales para el contenedor de propiedades */
}

/* Estilo específico para el título dentro de contenedorPropiedades */
.contenedorPropiedades h2 {
    margin: 15px;
}

/* Estilo específico para el texto dentro de contenedorPropiedades */
.contenedorPropiedades p {
    margin-left: 15px;
    margin-top: 5px;
}

/* Estilo específico para el campo de búsqueda dentro de contenedorPropiedades */
.contenedorPropiedades .form-control {
    background-color: rgba(30, 30, 174, 0.13);
    border: none;
    padding-top: 10px;
    
    
}

/* Estilo específico para el botón dentro de contenedorPropiedades */
.contenedorPropiedades .btn {
    background-color: rgba(30, 30, 174, 0.13);
    color: black;
    width: 50%;
    border: none;
    margin-right: 20px;
}

.text{
    color: #B5B5C3;
    font-size: 12px;
}

.contenedorPropiedades .custom-input {
    background-image: url('/Recursos/Img/Privada/lupa.svg'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    padding-left: 14px; 
    margin-top: 20px;
    margin-bottom: 20px;

}

.textBtn{
    padding-left: 10px;

}
