/* Botones de las tablas  */

.btn-eleminar {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #ae1e1e; 
}
.btn-edit {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #1E1EAE; 
}

.btn-tabla:hover {
    background-color: #1e1eae;
    color: #FFF; 
}

/* Estilo de las celdas de cabecera */
.table th {
    font-weight: bold;
    padding: 15px;
    text-align: left;
    background-color: var(--color-fondo-tabla);
}

/* Estilo de las celdas de datos */
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-fondo-tabla);
}

.table tbody tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.05);
}
