header {
    background-color: white;
}

.nav-link:active {
    color: #06065E;
}

.contactanosButton {
    height: 50px;
    border: none;
    border-radius: 4px;
}

button#btnContactanos:hover{
    background-color: #faad14;
}

button#btnContactanos:active {
    background-color: #faad14;
}

.amarrilo1 {
    background-color: #FFBF3E;
}

.azul1 {
    color: #030368;
}

/*ESTILO DEL FOOTER*/
footer {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h3 {
    font-weight: 500;
}

.foot {
    background-color: #7D7D7D;
    padding: 3%;

}


.text {
    margin-top: 5%;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.md {
    font-size: 25px;
    color: #F1B53C;
}

a {
    text-decoration: none;
    color: inherit;
}