<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<!-- ESTILOS DE DOCUMENTACIÓN DEL CODIGO
* Comentario claro
! Alerta
? Pregunta
TODO importante // realtando algo
// Comentario tachado
-->

<head>
    <!-- TODO Título del documento -->
    <title>Habit inmobiliaria - Detalles</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="habbit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- *IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- TODO Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="">
    <!-- *Llamada a las hojas de estilos del framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Controladores/Utilidades/Css/publica/publica.css">
    <link rel="stylesheet" href="../../Recursos/css/Publica/detalle.css">
</head>

<body>
    <main>
        <!--Contenedor principal-->
        <div class="col-12">
            <!--Contenedor de back, franja amarrilla-->
            <div class="col-12 franjaYellow">
                <!--Conteneodr de regresar-->
                <div class="col-1 d-flex justify-content-center align-items-center tamH mt-2 p-2 ps-5">
                    <img src="../../Recursos/Img/Publica/flechaback.svg" class="d-flex" alt="icono de regresar" width="30px" height="30px">
                </div>
            </div>
            <!--Contenedor de la informacion-->
            <div class="col-12 mt-3">
                <!--Contedor de imagenes, texto principal y descripcion-->
                <div
                    class="col-12 d-flex flex-column flex-sm-column flex-md-row flex-lg-row align-items-sm-center divImgTpDescrip">
                    <!--Contenedor de imagenes-->
                    <div
                        class="col-lg-6 col-md-6 col-sm-12 d-flex flex-lg-row flex-md-row flex-sm-column-reverse flex-column-reverse p-2 d-flex justify-content-center align-items-center">
                        <!--Contenedor de imagen laterales-->
                        <div
                            class="contenedorImg col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-lg-column flex-md-column flex-sm-row justify-content-center align-items-center">
                            <img src="../../Recursos/Img/Publica/imagen2.png" class="m-2" alt="imagen secundaria" width="70%" height="70%">
                            <img src="../../Recursos/Img/Publica/imagen3.png" class="m-2" alt="imagen secundaria" width="70%" height="70%">
                            <img src="../../Recursos/Img/Publica/imagen4.png" class="m-2" alt="imagen secundaria" width="70%" height="70%">
                        </div>
                        <div class="col-8 mt-2 mb-2">
                            <img id="mainImage" src="../../Recursos/Img/Publica/imagenDetallesCasaImgPrinc.png" alt="imagen principal" width="100%"
                                height="100%">
                        </div>
                    </div>
                    <!--Contenedor del texto-->
                    <div class="d-flex flex-column col-lg-6 col-md-6 col-sm-12 p-2 pe-5">
                        <!--Contenedor del titulo-->
                        <div>
                            <h1>Casa en buen estado en alquiler</h1>
                        </div>
                        <!--Linea-->
                        <div class="lineaAmarrillaSeparador"></div>
                        <!--Descripcio-->
                        <div class="mt-2">
                            <p>
                                Una encantadora residencia diseñada para ofrecerte un refugio acogedor donde cada rincón
                                es una invitación a tejer momentos inolvidables. Desde el momento en que cruzas su
                                umbral, te envuelve una atmósfera de calidez y serenidad, donde cada espacio está
                                impregnado de la promesa de aventuras compartidas y memorias preciosas. Ya sea
                                disfrutando de tardes de risas en el acogedor salón, preparando deliciosas comidas en la
                                cocina luminosa o compartiendo historias bajo las estrellas en el jardín, esta casa es
                                el lienzo perfecto donde tus sueños y vivencias se entrelazan para formar un tapiz de
                                experiencias inolvidables.
                            </p>
                        </div>
                    </div>
                </div>
                <!--detalles-->
                <div class="col-12 d-flex flex-column">
                    <!--titulo-->
                    <div class="d-flex ms-5">
                        <!--Linea horizonal-->
                        <div class="d-flex align-items-center">
                            <div class="lineaHorizonal"></div>
                        </div>
                        <!--Titutlo-->
                        <div class="d-flex align-items-center ms-2">
                            
                        <h2 class="d-flex mt-2">Detalles</h2>
                        </div>
                    </div>
                    <!--Contenedor de detalles-->
                    <div class="col-12 d-flex align-items-center justify-content-center mt-3 mb-2">
                        <div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-row col-10 justify-content-center align-items-center">
                            <!--tipo-->
                            <div class="d-flex col-10 col-sm-3 col-md-3 col-lg-3 flex-column mt-2">
                                <div>
                                    <p><b>Tipo</b></p>
                                </div>
                                <div>
                                    <p>Alquiler</p>
                                </div>
                            </div>
                            <!--tipo de propiedad-->
                            <div class="d-flex col-10 col-sm-3 col-md-3 col-lg-3 flex-column mt-2">
                                <div>
                                    <p><b>Tipo de propiedad</b></p>
                                </div>
                                <div>
                                    <p>Casa</p>
                                </div>
                            </div>
                            <!--zona de propiedad-->
                            <div class="d-flex col-10 col-sm-3 col-md-3 col-lg-3 flex-column mt-2">
                                <div>
                                    <p><b>Zona de la propiedad</b></p>
                                </div>
                                <div>
                                    <p>Cabañas</p>
                                </div>
                            </div>
                            <!--Inmobiliario-->
                            <div class="d-flex col-10 col-sm-3 col-md-3 col-lg-3 flex-row justify-content-center mt-2">
                                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                    <img src="../../Recursos/Img/Publica/cuarto.svg" class="mb-3" alt="icono de habitación" width="20px" height="20px">
                                    <p>4</p>
                                </div>
                                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                    <img src="../../Recursos/Img/Publica/bathroom.svg" class="mb-3" alt="icono de baño" width="20px" height="20px">
                                    <p>4</p>
                                </div>
                                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                    <img src="../../Recursos/Img/Publica/garage.svg" class="mb-3" alt="icono de parqueo" width="20px" height="20px">
                                    <p>4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mapa-->
                <div class="col-12 d-flex flex-column">
                    <!--titulo-->
                    <div class="d-flex ms-5">
                        <!--Linea horizonal-->
                        <div class="d-flex align-items-center">
                            <div class="lineaHorizonal"></div>
                        </div>
                        <!--Titutlo-->
                        <div class="d-flex align-items-center ms-2">
                        <h2 class="d-flex mt-2">Mapa</h2>
                        </div>
                    </div>
                    <!--Contenedor del mapa-->
                    <div class="col-12 d-flex justify-content-center align-items-center mt-2">
                        <iframe class="col-10 d-flex justify-content-center align-items-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9261058437332!2d-89.2077670259362!3d13.722923497963512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6330813f89e61f%3A0xcb93eef8cc8c07e1!2sInstituto%20T%C3%A9cnico%20Ricaldone!5e0!3m2!1ses!2ssv!4v1712531907454!5m2!1ses!2ssv" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<!-- *Llamada a las hojas de estilos del framework e iconos -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../Controladores/Utilidades/Js/publica/publica.js"></script>
<script src="../../Controladores/Publica/index.js"></script>

</html>