<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<!-- ESTILOS DE DOCUMENTACIÓN DEL CODIGO
* Comentario claro
! Alerta
? Pregunta
TODO importante // realtando algo
// Comentario tachado
-->

<head>
    <!-- TODO Título del documento -->
    <title>Habit inmobiliaria</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="habbit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- *IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- TODO Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="">
    <!-- *Llamada a las hojas de estilos del framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Controladores/Utilidades/Css/publica/publica.css">
    <link rel="stylesheet" href="../../Recursos/css/Publica/index.css">
</head>

<body>
    <main>
    
    </main>
    <!-- *Llamada a las hojas de estilos del framework e iconos -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../Controladores/Utilidades/Js/publica/publica.js"></script>
    <script src="../../Controladores/Publica/index.js"></script>
</body>

</html>