<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<!-- ESTILOS DE DOCUMENTACIÓN DEL CODIGO
* Comentario claro
! Alerta
? Pregunta
TODO importante // realtando algo
// Comentario tachado
-->

<head>
    <!-- TODO Título del documento -->
    <title>Habit inmobiliaria</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="habbit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- *IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- TODO Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="">
    <!-- *Llamada a las hojas de estilos del framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Controladores/Utilidades/Css/publica/publica.css">
    <link rel="stylesheet" href="../../Recursos/css/Publica/index.css">
</head>

<body>
    <main>
        <!--*Parte principal de la página-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 align-self-center">

                    <div class="container">
                        <h3 class="title">¡Encuentra lo que buscas en Habit!</h3>
                        <p>Estamos comprometidos en ofrecerte soluciones efectivas para comprar, vender, alquilar o
                            invertir en bienes raíces en El Salvador;
                            nuestro equipo de Asesores inmobiliarios están aquí para guiarte en cada proceso que
                            llevaremos juntos.
                        </p>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../Recursos/Img/Publica/casa1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../Recursos/Img/Publica/casa2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../Recursos/Img/Publica/casa3.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row cardData">
                    <div class="col-lg-6">
                        <div class="row">
                            <h5 class="linea">Texto de relleno hablando sobre lo bueno de sus servicios</h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12 datos">
                                <h6 class="porcentaje">+ 100k</h6>
                                <p class="textt">Alquileres</p>
                            </div>
                            <div class="col-lg-3 col-sm-12 datos">
                                <h6 class="porcentaje">+ 100k</h6>
                                <p class="textt">Ventas</p>
                            </div>
                            <div class="col-lg-3 col-sm-12 datos">
                                <h6 class="porcentaje">+ 100k</h6>
                                <p class="textt">Clientes</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-12 align-self-center">
                        <h5 class="desc">Habit tiene todo lo que necesitas</h5>

                    </div>
                </div>
            </div>
        
        </div>

    
    </main>
    <!-- *Llamada a las hojas de estilos del framework e iconos -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../Controladores/Utilidades/Js/publica/publica.js"></script>
    <script src="../../Controladores/Publica/index.js"></script>
</body>

</html>