@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Definición de variables de colores */
:root {
    /* Modo claro */
    --color-fondo-light: #f8f9fa;
    --color-color-light: #333;
    --color-background-light: #fff;
    --color-borde-light: #ccc;

    /* Modo oscuro */
    --color-fondo-dark: #1a1a1a;
    --color-color-dark: #fff;
    --color-background-dark: #333;
    --color-borde-dark: #444;
}

/* Selectores de estilo para el modo claro y oscuro */
.light-mode {
    --color-fondo: var(--color-fondo-light);
    --color-color: var(--color-color-light);
    --color-background: var(--color-background-light);
    --color-borde: var(--color-borde-light);
}

/* Selectores de estilo para el modo oscuro */
.dark-mode {
    --color-fondo: var(--color-fondo-dark);
    --color-color: var(--color-color-dark);
    --color-background: var(--color-background-dark);
    --color-borde: var(--color-borde-dark);
}


body,
html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--color-fondo);
    color: var(--color-color);
}


.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-color);
}

.login-form {
    animation: fadeInUp 1s ease;
}

.login-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease;
}

.form-control {
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--color-borde);
    width: 100%;
    max-width: 300px;
}

.btn-primary {
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    background-color: #0F0F70;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
}

.btn-primary:hover::before {
    transform: translate(-50%, -50%) scale(2);
}

.btn-primary:hover {
    background-color: #011d77;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
}

.forgot-password-link {
    color: #1E1EAE;
    text-decoration: underline;
}


/* Animations */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
        filter: grayscale(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        filter: grayscale(0);
    }
}

/* Media query  */
@media only screen and (max-width: 767px) {
    .login-image {
        display: none;
    }

    .form-control {
        width: 100%;
        max-width: 400px;
    }

    .login-form {
        padding: 50px;
    }

    .btn-primary {
        max-width: 400px;
    }
}