/*Estilo del modal para crear un administrador*/

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h3.titulo {
    position: relative;
    font-family: "Inter ", sans-serif;
    font-weight: 600;
    padding-left: 12px;
}

label{
    font-weight: 500;
    color: #5C5C5C;
}

h3.titulo::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 100%;
    background-color: #1E1EAE;
    padding-top: 20px;
    border-radius: 10px;
}

.tit {
    padding-left: 15px;
}

.limpiar{
    border-radius: 8px;
}
.modal-Administrador {
    width: 900px;
}

.no-border {
    border: none !important;
}

.btn_nom {
    border: none;
}

.custom-modal-width {
    max-width: 650px;
}

.modal-footer {
    background-color: #1E1EAE;
}
.btn-light{
    border-radius: 10px;
}

.modal-content {
    border-radius: 15px;
    background-color: #EBEBEB;
}

.limpiar {
    background-color: #1E1EAE;
    border: none !important;
}

.modal-header.tit {
    padding-top: 1.2rem;
    /* Ajusta este valor según sea necesario */
    padding-bottom: 0.5rem;
    /* Ajusta este valor según sea necesario */
}

/* Quita el borde a los inputs */
.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    /* Borde gris claro */
    transition: border-color 0.3s;
    /* Transición suave */
}

/* Cambia el color del borde al seleccionar el input */
.form-control:focus {
    border-color: #adb5bd;
    /* Cambia a gris claro al seleccionar */
    box-shadow: none;
    /* Quita la sombra al seleccionar */
}

.form-select.btn_nom {
    border: none;
    border-bottom: 1px solid #ccc;
    /* Borde gris claro */
    transition: border-color 0.3s;
    /* Transición suave */
}

.form-select.btn_nom:focus {
    border-color: #adb5bd;
    /* Cambia a gris claro al seleccionar */
    box-shadow: none;
    /* Quita la sombra al seleccionar */
}

/*Estilo del modal para eliminar a un administrador*/


.modal_title{
    color: #02113C;
    margin-bottom: 15px;
    font-size: 22px;
}

.modal_description{
    color: #4E5876;
    margin-bottom: 1.5rem;
}

.modal_button{
    background-color: #1E1EAE;
    color: #fff;
    border-radius: .5rem;
    transition: .3s;
    padding: 0.5rem 2.5rem;
}

.modal_container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(var(--hue), 18%, 75%, .8);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all .3s;
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;  
}

.modal_content{
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
    margin: 0 auto;
}

.modal_img{
    margin-top: 50px;
    margin-bottom: 20px;
}

.modal_close{
    display: inline-flex;
    color: #667085;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}