.franjaYellow{
    height: 70px;
    width: 100%;
}

.tamH{
    height: 100%;
    width: 130px;
    background-color: #F1B53C;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedorImg {
    overflow-y: auto;
    overflow-x: auto; 
}

.lineaAmarrillaSeparador{
    background-color: #F1B53C;
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

.lineaHorizonal{
    background-color: #F1B53C;
    width: 5px;
    height: 80%;
    border-radius: 20px;
}