body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.colorblue2{
    color: #0F0F70;
}

.title {
    font-size: 250%;
    font-weight: 800;
    margin-bottom: 50px;
    color: #000000;
}

p {
    font-size: 20px;
}

/*!Estilo para parte de mini estadisticas*/
.datos {
    margin-right: 2.5%;
}

.cardData {
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.textt {
    font-size: 20px;
    font-weight: 500;
    color: #61656E;
}

.linea {
    margin-bottom: 10%;
    color: #61656E;
}

.porcentaje {
    font-weight: 500;
    font-size: 20px;
}

.desc {
    font-weight: 600;
    font-size: 200%;
}

/*!Estilo para parte de sobre nosotros*/
#sobreNosotros {
    background-color: #06065E;
    height: 100vh;
}

.containerWaves {
    /* Ancho del cuadrado */
    height: 100%;
    /* Altura del cuadrado */
    border-radius: 100% 0% 0% 100% / 33% 0% 100% 67%;
    /* Borde izquierdo redondeado */
    background-color: white;
    right: 0;
}

.as {
    height: 100vh;
}

.img1 {
    border-radius: 0px 100px 0px 100px;
    height: 70%;
}

/* Estilos específicos para pantallas con un ancho mínimo de 764px */
@media screen and (max-width: 764px) {

    .divImg {
        display: none;
        /* Oculta el contenedor y elimina el espacio */
    }

    .img1 {
        visibility: hidden;
        /* Oculta la imagen */
    }


    .containerWaves {
        display: none;
    }
}

/* Estilos específicos para pantallas con un ancho mínimo de 368px */
@media screen and (max-width: 368px) {
    .tSN {
        font-size: 25px;
    }

    .pSN {
        font-size: 12px;
    }
}

/* Estilos específicos para pantallas con un ancho mínimo de 300px */
@media screen and (max-width: 300px) {
    .tSN {
        font-size: 20px;
    }

    .pSN {
        font-size: 10px;
    }
}

/*!Estilo para parte de NUESTRO EQUIPO*/
.contenedorNE {
    background-color: transparent;
}

.hNE {
    color: white;
}

.pNE {
    color: white;
    font-size: 14px;
}

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Desplazamiento horizontal y vertical */
    border-radius: 10px; /* Agregar un borde redondeado */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Agregar un borde */
    transition: transform 0.3s ease; /* Agregar transición */
}

.card:hover {
    transform: translateY(-5px); /* Levantar la tarjeta al colocar el cursor encima */
}

/* Estilos específicos para pantallas con un ancho mínimo de 780px */
@media screen and (max-width: 780px) {
    .pNE {
        color: black;
    }
}

/* Estilos específicos para pantallas con un ancho mínimo de 430px */
@media screen and (max-width: 430px) {
    .hNE {
        color: black;
    }
}

/*!Estilo para parte de nuestras opciones*/
#nuestraOpciones{
    height: 100vh;
}

.tamCardCategoria{
    height: 500px;
    width: 700px;
}

.sizeCardCategoria{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.contenedorColorMorado{
    background-color: #110229a9;
    height: 100%;
    width: 100%;
}

i{
    color: #06065E;
}

/*!CONTACTANOS*/
#contactanos{
    height: 100vh;
}

.sombra-elevada {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Desplazamiento horizontal y vertical */
    border-radius: 10px; /* Agregar un borde redondeado */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Agregar un borde */
}


.divContacts{
    border: #F1B53C 4px solid;
    border-radius: 30px;
    height: 80%;
    width: 80%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Desplazamiento horizontal y vertical */
    transition: transform 0.3s ease; /* Agregar transición */
}

.divContacts:hover {
    transform: translateY(-5px); /* Levantar la tarjeta al colocar el cursor encima */
}

.imgContacs{
    transition: transform 0.3s ease; /* Agregar transición */
}

.imgContacs:hover{
    transform: translateY(-5px); /* Levantar la tarjeta al colocar el cursor encima */
}


.bgColorGreen{
    background-color: #0DC143;
}

#btnWha{
    border-radius: 40px;
    width: 100%;
    height: 10%;
}

button#btnWha:hover{
    background-color: #0c9936;
}

button#btnWha:active {
    background-color: #0c9936;
}

/* Estilos específicos para pantallas con un ancho mínimo de 300px */
@media screen and (max-width: 300px) {
    .h2Contactanos{
        font-size: 20px;
    }

    .pDescripcion{
        font-size: 12px;
    }

    .datosP{
        font-size: 12px;
    }
}